.shorturl-edit-container {
    display: flex;
    /* Use flexbox layout */
    align-items: center;
    /* Center items vertically */
}

.shorturl-category-input {
    flex: 1;
    /* Allow input field to grow and fill remaining space */
    margin-right: 10px;
    /* Add some spacing between input and button */
}

.shorturl-update-category {
    margin-left: 10px;
    /* Add some spacing between button and input */
}

/* frontend-table-styles.css */
.shorturl-wp-list-table {
    width: 100%;
    border-collapse: collapse;
}

.shorturl-wp-list-table th,
.shorturl-wp-list-table td {
    padding: 10px;
    border: 1px solid #ccc;
}

.shorturl-wp-list-table th {
    background-color: #f1f1f1;
    font-weight: bold;
}

.shorturl-wp-list-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.shorturl-arrow.up::after {
    /* yes, it is empty. we need it to toggle  */
}

.shorturl-link-disabled {
    pointer-events: none;
    /* prevents clicking on the element */
    color: gray !important;
    cursor: not-allowed;
    /* changes cursor to show that the element is not clickable */
}

#qr-container {
    display: flex;
    align-items: center;    
}

#qr {
    margin-right: 5px;    
}

#qr-logo {
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: auto;
    border: 5px solid white;
    background-color: white;
}

.shorturl-msg-error {
    color: red;
}
.shorturl-msg-notice {
    color: orange;
}

.shorturl-copy-img,
.shorturl-download-img {
    width: 20px;
    cursor: pointer; /* indicate it's clickable */
}


.shorturl-tooltip {
    position: absolute;
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 6px;
    display: none;
    margin-top: 10px;
}

.shorturl-tooltip::after {
    content: '';
    position: absolute;
    top: 50%;
    left: -5px;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
}

.rrze-shorturl {
    width: 60ch;
    max-width: 100%;
    margin: 0 auto;
    form#shorturl-form {
        display: block;
        position: relative;
        padding: var(--width-gutter-half, 15px);
        border: 1px solid var(--color-ContentBorders, #dfe6ec);
        box-shadow: 0 3px 12px 0 #ebebeb;
        label {
            display: block;
        }
        .label {
            font-weight: bold;
        }
        input#url {
            display: block;
            width: 100%;
            margin-bottom: 0;
        }
        input[type=submit] {
            margin-top: 1em;
            margin-bottom: 3px;
        }
        [aria-invalid="true"] {
            outline: 2px solid var(--color-Negative, #a71c18);
        }
        [aria-invalid="true"] ~ .errormessage {
            visibility: visible;
        }
        button {
            cursor: pointer;
        }
        button#btn-show-advanced-settings {
            border: 1px solid var(--color-ContentBorders, #dfe6ec);
            border-radius: var(--border-radius-buttons, 3px);
            box-shadow: none;
            background: #fff;
            color: var(--color-Text, #222);
            cursor: pointer;
            @media (min-width: 320px) {
                position: absolute;
                right: 15px;
                top: 8.5em;
            }
            &:hover, &:focus, &:active {
                background: var(--color-ghostbutton-hover-bg, #04316a);
                color: var(--color-ghostbutton-hover-text, #fff);
            }
        }
        .rrze-shorturl-result {
            margin-top: 1em;
            button.btn {
                margin-left: 1em;
                background: #0000;
                border: 1px solid var(--color-ContentBorders, #dfe6ec);
                border-radius: var(--border-radius-buttons, 3px);
                box-shadow: none;
                color: var(--color-Text, #222);
                display: inline-block;
                font-size: .938rem;
                font-weight: 400;
                padding: 10px 18px;
                &:hover, &:focus, &:active {
                    background: var(--color-StandardHellgrau, #e9edf2);
                }
            }
        }
        .shorturl-errormessage {
            padding: 10px;
            border: 1px solid #ebccd1;
            font-weight: normal;
            overflow: hidden;
            color: #78302f;
            background-color: #f2dede;
        }
        button img {
            box-shadow: none;
        }
    }
    [popover] {
        padding: var(--width-gutter-half, 15px);
        border: 1px solid var(--color-ContentBorders, #dfe6ec);
        box-shadow: 0 3px 12px 0 #000000aa;
        width: min(95%, 400px);
        max-height: 95vh;
        &::backdrop {
            background-color: var(--color-overlay-dark, #00000026);
            backdrop-filter: blur(3px);
        }
        -webkit-animation: fade-in .3s linear 1;
        -moz-animation: fade-in .3s linear 1;
        -ms-animation: fade-in .3s linear 1;
    }
    @-webkit-keyframes fade-in {
        from   { opacity: 0; }
        to { opacity: 1; }
    }
    @-moz-keyframes fade-in {
        from   { opacity: 0; }
        to { opacity: 1; }
    }
    @-ms-keyframes fade-in {
        from   { opacity: 0; }
        to { opacity: 1; }
    }
}

  