.shorturl-edit-container {
    display: flex; /* Use flexbox layout */
    align-items: center; /* Center items vertically */
}

.shorturl-category-input {
    flex: 1; /* Allow input field to grow and fill remaining space */
    margin-right: 10px; /* Add some spacing between input and button */
}

.shorturl-update-category {
    margin-left: 10px; /* Add some spacing between button and input */
}

/* frontend-table-styles.css */
.wp-list-table {
    width: 100%;
    border-collapse: collapse;
}

.wp-list-table th,
.wp-list-table td {
    padding: 10px;
    border: 1px solid #ccc;
}

.wp-list-table th {
    background-color: #f1f1f1;
    font-weight: bold;
}

.wp-list-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}
