.shorturl-edit-container {
    display: flex; /* Use flexbox layout */
    align-items: center; /* Center items vertically */
}

.shorturl-category-input {
    flex: 1; /* Allow input field to grow and fill remaining space */
    margin-right: 10px; /* Add some spacing between input and button */
}

.shorturl-update-category {
    margin-left: 10px; /* Add some spacing between button and input */
}

/* frontend-table-styles.css */
.shorturl-wp-list-table {
    width: 100%;
    border-collapse: collapse;
}

.shorturl-wp-list-table th,
.shorturl-wp-list-table td {
    padding: 10px;
    border: 1px solid #ccc;
}

.shorturl-wp-list-table th {
    background-color: #f1f1f1;
    font-weight: bold;
}

.shorturl-wp-list-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.shorturl-arrow.up::after {
    /* yes, it is empty. we need it to toggle  */
}

.shorturl-link-disabled {
    pointer-events: none; /* prevents clicking on the element */
    color: gray !important;
    cursor: not-allowed; /* changes cursor to show that the element is not clickable */
}

#qr-container {
    position: relative;
    width: 200px;
    height: 200px;
}

#qr {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#qr-logo {
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: auto;
}

.shorturl-tooltip {
    position: absolute;
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 6px;
    display: none; /* Initially hide the shorturl-tooltip */
}

.shorturl-tooltip::after {
    content: '';
    position: absolute;
    top: 50%;
    left: -5px;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
}

.button-advanced-settings{
    font-size: 100%;
    padding: 0.75rem;
    background: white;
    transition-duration: 0.5s;
    border: 4px solid plum;
    background: lavenderblush;
    border-radius: 1rem;
    
    &:hover,
    &:focus {
      background: plum;
      color: white;
    }    
}

[popover] {
    background: black;
    color: white;
    font-weight: 400;
    padding: 1rem 1.5rem;
    border-radius: 1rem;
    max-width: 20ch;
    line-height: 1.4;
    top: 2rem;
    margin: 0 auto;
  }

  /* Animating the popover in */

/*   IS-OPEN STATE   */
[popover]:popover-open {
    translate: 0 0;
  }
  
  /*   EXIT STATE   */
  [popover] {
    transition: translate 0.7s ease-out, display 0.7s ease-out allow-discrete;
    translate: 0 -22rem;
  }
  
  /*   0. BEFORE-OPEN STATE   */
  @starting-style {
    [popover]:popover-open {
      translate: 0 -22rem;
    }
  }